.container.top-center .jumbotron.top-center .row.container .col-md-12.top-center a.btn.btn-info{
    text-align: center;
    position: center;
}

.container.top-center .jumbotron.top-center .row.container .col-md-12.top-center a.btn.btn-info{
    position: absolute;
    top: 50%;
}